<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
<link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="./css/styles.css" >
    </head>
    <body>
        
        <div class="main-content">
            {{>header}}
        <p>Contact </p>{{phno}} <br><br>
        <p>Address </p>{{address}}
        </div>
        
        {{>footer}}
    </body>
</html>