<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/img/cloud.png">

    <link rel="stylesheet" href="./css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use the site to get the weather</p>
   
    <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>
    <p id='message-1'></p>
    <p id='message-2'></p>
     </div>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>